<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="User.config">
    <add key="AWSKey" value="AKIAJWT7E3DL4X5PHHQQ" />
    <add key="AWSSecret" value="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" />
    <add key="AWSStreamName" value="TestStream"/>
    <add key="AWSRegionEndpoint" value="ap-southeast-2"/>
  </appSettings>
</configuration>