<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="User.config">
    <add key="AWSKey" value="-your-aws-key-" />
    <add key="AWSSecret" value="-your-aws-secret-" />
    <add key="AWSStreamName" value="-your-test-stream-"/>
    <add key="AWSRegionEndpoint" value="-your-region-endpoint-"/>
  </appSettings>
</configuration>